<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="mystyle.css" />
    <link rel="stylesheet" href="dashboard.css" />
    <link rel="stylesheet" href="registration.css" />
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <nav>
      <a href="#">Leitura</a>
      <ul>
        <li>Cadastrar usuário</li>
        <li>Logar</li>
        <li>Registrar novo título</li>
      </ul>
    </nav>
    <div class="registration-container">
      <form>
        <label class="description-label">Título</label>
        <text>Lorem title</text>
        <label>Descrição</label>
        <text
          >Lorem description Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Ipsa, nihil error quisquam aut nisi voluptatum ipsum illum
          dignissimos natus veritatis officia hic nesciunt commodi quae
          recusandae, provident neque reprehenderit beatae.</text
        >
        <button type="submit">Submeter</button>
      </form>
    </div>

    <footer></footer>
  </body>
</html>
